@import 'fade';


#demo {
    overflow: hidden;
}

.slide-leave-active,
.slide-enter-active {
    transition: 1s;
}

.slide-enter {
    transform: translate(100%, 0);
}

.slide-leave-to {
    transform: translate(-100%, 0);
}

.img-slider {
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 400px;
}

.img-slider img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}